In [1]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix

Poniżej przedstawiam kod SQL oraz kod z Pythona

Kod z Microsoft SQL


```sql
USE transactions;

/* Prostsza wersja dla małej ilości partner_id 1)
SELECT DISTINCT COUNT(CUSTOMER_ID) FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 1
SELECT DISTINCT COUNT(CUSTOMER_ID) FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 2
SELECT DISTINCT COUNT(CUSTOMER_ID) FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 3
SELECT DISTINCT COUNT(CUSTOMER_ID) FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 4
*/
--1) 1) Dla 1 zadania Partner_ID 1 = 947 Partner_ID 2 = 1996 Partner_ID 3 = 2001 Partner_ID 4 = 6429
SELECT 'Partner_1',COUNT(DISTINCT CUSTOMER_ID)AS PARTNER_1 FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 1
UNION ALL
SELECT 'Partner_2', COUNT(DISTINCT CUSTOMER_ID)AS PARTNER_2 FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 2
UNION ALL
SELECT 'Partner_3', COUNT(DISTINCT CUSTOMER_ID)AS PARTNER_3 FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 3
UNION ALL
SELECT 'Partner_4', COUNT(DISTINCT CUSTOMER_ID)AS PARTNER_4 FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 4;

-- 2) Łączna ilość punktów wynosi 80466 

SELECT SUM(POINTS) as  Total_points FROM TRANSACTION_DATA_SAMPLE WHERE CONVERT(DATE, TRANSACTION_DATE,104)  BETWEEN '2022-05-01' AND '2022-05-15';

-- 3) daty pierwszych transakcji dla SHOP_ID
SELECT MIN(FORMAT(TRANSACTION_DATE,'yyyy-MM-dd HH:mm:ss')) as First_trans,SHOP_ID  FROM TRANSACTION_DATA_SAMPLE 
GROUP BY SHOP_ID;

--4) Ilość transkacji dla:
/*przedział obrotu 0-99.99 = 15396
  przedział obrotu 100-199.99 = 2612
  przedział obrotu 200-powyżej = 5024
*/
SELECT TURNOVER FROM TRANSACTION_DATA_SAMPLE;
SELECT SUM(IIF(TURNOVER<=99.99,1,0)) AS Turnover_below_99, SUM(IIF(TURNOVER>=100 AND TURNOVER <= 199.99,1,0)) AS Turnover_between, SUM(IIF(TURNOVER>=200,1,0)) AS Turnover_above_200 FROM TRANSACTION_DATA_SAMPLE;

--5) 3912 rows affected 
UPDATE TRANSACTION_DATA_SAMPLE SET PARTNER_ID = 4 WHERE PARTNER_ID = 2;
SELECT * FROM TRANSACTION_DATA_SAMPLE WHERE PARTNER_ID = 2; -- 0 results


--6) województwa piszemy z małej litery 
SELECT TRANSACTION_ID,PARTNER_ID,TRANSACTION_DATE,CUSTOMER_ID,POINTS,TURNOVER, LOWER(VOIVODESHIP) AS VOIVODESHIP,TRANSACTION_DATA_SAMPLE.SHOP_ID FROM TRANSACTION_DATA_SAMPLE JOIN VOIVODESHIP ON VOIVODESHIP.SHOP_ID = TRANSACTION_DATA_SAMPLE.SHOP_ID;

```

In [2]:
#Załadowanie plików csv do pythona
csv_path = "TRANSACTION_DATA_SAMPLE.csv"

In [3]:
csv_path_voiv = "VOIVODESHIP.csv"

In [4]:
transactions = pd.read_csv(csv_path,sep=",")

In [5]:
voivodeship = pd.read_csv(csv_path_voiv,sep=",")

In [60]:
#Zadanie --1)
transactions_first = transactions['CUSTOMER_ID'].groupby(transactions['PARTNER_ID'])

In [61]:
transactions_first = transactions.groupby('PARTNER_ID')['CUSTOMER_ID'].nunique()

In [62]:
transactions_first

PARTNER_ID
1     947
2    1996
3    2001
4    6429
Name: CUSTOMER_ID, dtype: int64

1) 
Dla 1 zadania 
Partner_ID 1 = 947
Partner_ID 2 = 1996
Partner_ID 3 = 2001
Partner_ID 4 = 6429

In [136]:
#Zadanie --3)
transactions_third = transactions.groupby('SHOP_ID')['TRANSACTION_DATE'].min()

In [141]:
transactions_third

SHOP_ID
1023    2021-01-07 21:59:00
12771   2021-08-12 09:38:11
12772   2021-02-12 23:13:05
12773   2021-01-10 16:19:55
12774   2021-02-10 18:23:16
                ...
19962   2022-01-13 00:00:00
19967   2021-03-08 00:00:00
19970   2021-03-11 00:00:00
19971   2021-10-12 00:00:00
19998   2022-01-02 09:20:00
Name: TRANSACTION_DATE, Length: 189, dtype: datetime64[ns]

In [171]:
# Zadanie --4)
turnover_below = []
turnover_between = []
turnover_above = []

for i in transactions['TURNOVER']:
    if 0 <= i <= 99.99:
        turnover_below.append(i)
    elif 100 <= i <= 199.99:
        turnover_between.append(i)
    else:
        turnover_above.append(i)

In [174]:
print(len(turnover_below))
print(len(turnover_between))
print(len(turnover_above))

15396
2612
5024

In [193]:
#Zadanie --5)
transactions_fifth = transactions['PARTNER_ID'].replace(2,4)

In [200]:
transactions_fifth['PARTNER_ID'] == 2

False

In [11]:
#Zadanie --6)
transactions_sixth = pd.merge(voivodeship,transactions, on="SHOP_ID")

In [18]:
transactions_sixth['VOIVODESHIP'] = transactions_sixth['VOIVODESHIP'].str.lower()

In [19]:
transactions_sixth.tail(5)

,SHOP_ID,VOIVODESHIP,TRANSACTION_ID,PARTNER_ID,TRANSACTION_DATE,CUSTOMER_ID,POINTS,TURNOVER
23027,12775,podkarpackie,3054321052904992440,2,29.11.2021 15:22:43,49646,40,119.31
23028,12775,podkarpackie,9050321051250322431,2,12.11.2021 21:07:03,503156,32,96.03
23029,12875,małopolskie,6074721072572442845,2,25.01.2022 18:52:47,724489,15,43.65
23030,12875,małopolskie,10075921071315842653,2,13.01.2022 22:19:59,158417,67,200.79
23031,12875,małopolskie,8071221072121832107,2,21.01.2022 20:27:12,218921,32,96.03

In [ ]:
transactions_sixth.describe()